./docs/log/
./tests/logs/
.env*
.venv*
./utils/config.py
./utils/var_globals.py
*.pyc
# Ignore all __pycache__ directories and their contents
**/__pycache__/
**/__pycache__/*

# consider to erase this 2 lines
database/ai_demo_metadata.db
database/ai_demo_metadata*

logs/*
!logs/.gitkeep

data/*
!data/.gitkeep